body {display: grid;
}

.navbar {
  top: 0px;
  margin-bottom: 50px;
  position: fixed; left: 0; top: 0; 
  width: 100%; 
  background-color: #fff8e7;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 50%;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li a { 
  display: inline-block;
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

.active {
  background-color: #C8D4C8;
  color: #486549;
}


/* .LandingPage {
    background-image: url(./images/woodflooring.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}  */


.aboutme {
  margin-top: 100px;
  background-color: rgb(255, 248, 231, 1);
  max-width: 600px;
}

/* Projects Grid */

.MyProjects {
  display: grid;
  /* grid-template-columns: 25vw, 25vw, 25vw; */
  grid-template-columns: repeat(auto-fill, 204px);
  grid-template-rows: 40vh, 40vh;
  grid-gap: 100px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

/* @media screen (max-width 400px) {
  display: grid;
} */

/* .projectone {
  grid-column: 1;
  grid-row: 1;
} */

.projectone, .projecttwo, .projectthree, .projectfour, .projectfive, .projectsix {
  display: grid;
  grid-template-rows: auto, auto, auto;
  /* grid-template-columns: 50vw, 50vw; */
  background-color: rgb(255, 248, 231, 1);
  background-size: 200px; 
  border: 2px solid black; 
}

.project__heading {
  justify-self: center;
  background-color: rgb(255, 248, 231, 1);
}

.project__photo {
  align-self: center;
  justify-self: center;
  grid-row: 2;
}

.sitefooter {
  margin-top: 100px;
  position: fixed; left: 0; bottom: 0; 
  width: 100%; 
  background-color: #fff8e7;
}

footer ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}