header {
  margin-bottom: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 50%;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul li a { 
    display: inline-block;
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 

.active {
    background-color: #C8D4C8;
    color: #486549;
  }


.LandingPage {
    background: url(./images/CoffeeHeart.jpg) no-repeat center fixed;
    background-size: cover;
} 

.button1 {
  border-radius: 12px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.aboutme {
  margin-left: 300px;
  margin-right: 300px;
  background-color: rgb(255, 248, 231, 0.5);
}

/* Projects Grid */

.MyProjects {
  display: grid;
  /* grid-template-columns: 25vw, 25vw, 25vw; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 40vh, 40vh;
  grid-gap: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

/* @media screen (max-width 400px) {
  display: grid;
} */

/* .projectone {
  grid-column: 1;
  grid-row: 1;
} */

.projectone, .projecttwo, .projectthree, .projectfour, .projectfive, .projectsix {
  display: grid;
  grid-template-rows: 30vh, 70vh;
  grid-template-columns: 50vw, 50vw;
  background-color: rgb(255, 248, 231, 0.5)
}

.projectone__heading , .projecttwo__heading, .projectthree__heading, 
.projectfour__heading, .projectfive__heading, .projectsix__heading {
  background-color: rgb(255, 248, 231, 0.75)
}

.projectone__photo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2;
}

.sitefooter {
  margin-top: 10px;
  position: fixed; left: 0; bottom: 0; 
  width: 100%; 
  background-color: #fff8e7;
}